<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- <category label="32001">
        <setting label="32011" type="text"   id="username" default=""/>
        <setting label="32012" type="text"   id="password" option="hidden"  enable="!eq(-1,)" default=""/>
        <setting type="sep"/>
        <setting id="debug" type="bool" label="32013" default="false"/>
    </category> -->
    <category label="32060">
        <setting label="32061" type="enum" id="usernameVStag" lvalues="32062|32063" default="1"/>
    </category>
    <category label="32040">
        <setting label="32041" type="text" id="tag1" default=""/>
        <setting label="32044" type="enum" id="tagType1" lvalues="32045|32046" option="hidden"  enable="!eq(-1,)" default="0"/>
    </category>
    <category label="32050">
        <setting label="32051" type="text" id="username1" default=""/>
    </category>

</settings>